@using System.Text.Json
@inherits LayoutComponentBase
@inject IHostEnvironment HostEnvironment

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="error">
                <div id="blazor-error-ui dismis" data-nosnippet>
                    @if (HostEnvironment.IsProduction())
                    {
                        <span>An error has occurred.</span>
                    }
                    else
                    {
                        <span>An unhandled exception occurred.</span>
                        <p>@error.Message</p>
                        <p>@error.InnerException</p>
                        <p>@error.StackTrace</p>
                    }
                    <a href="" class="reload">Reload</a>
                    <a class="dismiss">🗙</a>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
