@page "/"

@layout AuthlessLayout
@inject IDialogService DialogService

<PageTitle>Home</PageTitle>

<div class="cover-container d-flex w-100 vh-100 p-3 mx-auto flex-column">

    <main class="px-3 mt-auto">
        <h1>ToDos</h1>
        <p class="lead">Planeje aqui suas tarefas do dia a dia.</p>
        <p class="lead">
            <div class="row g-2 ">
                <div class="col-12 col-sm-4">
                    <a href="#" class="btn btn-md btn-light fw-bold border-white bg-white"><i class="bi bi-windows"></i> <span class="ms-2">Windows</span></a>
                </div>
                <div class="col-12 col-sm-4">
                    <MudButton @onclick="OpenDialogAsync" Variant="Variant.Filled" Class="btn btn-lg btn-light fw-bold border-white bg-white">
                        <i class="bi bi-box-arrow-in-right"></i> Entrar
                    </MudButton>
                </div>
                <div class="col-12 col-sm-4">
                    <a href="#" class="btn btn-md btn-light fw-bold border-white bg-white"><i class="bi bi-android"></i> <span class="ms-2">Android</span></a>
                </div>
            </div>
        </p>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Desenvolvido por Raphael F. Alves <a href="https://www.linkedin.com/in/raphaelfalves/" target="_blank" class="text-white">LinkedIn</a>, <a href="https://github.com/raphaelfalves" target="_blank" class="text-white">GitHub</a>.</p>
    </footer>
</div>

@code {
    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<Login>("Login", options);
    }
}