@inherits LayoutComponentBase
@inject NavigationManager Navigation

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<ErrorBoundary>
    <ChildContent>
        @Body
    </ChildContent>
    <ErrorContent Context="error">
        <div id="blazor-error-ui dismis" data-nosnippet>
            @if (IsProduction())
            {
                <span>An error has occurred.</span>
            }
            else
            {
                <span>An unhandled exception occurred.</span>
                <p>@error.Message</p>
                <p>@error.InnerException</p>
                <p>@error.StackTrace</p>
            }
            <a href="" class="reload">Reload</a>
            <a class="dismiss">🗙</a>
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {
    private bool IsProduction()
    {
        // Verifica se o ambiente é de produção baseado na URL
        var uri = Navigation.BaseUri;
        return uri.Contains(".com");
    }
}
